<template>
  <div>
    <!-- input: text / password / email -->
    <div v-if='fieldObject.type !== "dropdown"' class='form-input' :class='fieldObject.type'>
      
      <label :class=' {"float-label": inputValue, "has-focus": hasFocus} '> {{fieldObject.friendlyName}} </label>
      
      <close-icon v-if='errors' class='error-icon' name='close'/>
      
      <eye-icon v-else-if='fieldObject.type === "password"' 
                class='eye-icon' 
                name='close' 
                v-on:click='viewPassword = !viewPassword'
                />

      <input  v-if='fieldObject.type === "email"'
              type='email'
              :id="fieldObject.id"
              v-model='inputValue'
              :class='{ error: errors }'
              v-on:focus='hasFocus = true' 
              v-on:blur='hasFocus = false; validate()'
              />

      <input  v-else-if='fieldObject.type === "password"'
              type='password'
              :id="fieldObject.id"
              v-model='inputValue' 
              :class='{ error: errors }'
              v-on:focus='hasFocus = true' 
              v-on:blur='hasFocus = false; validate()'
              />

      <input  v-else
              type='text'
              v-model='inputValue' 
              :class='{ error: errors }'
              v-on:focus='hasFocus = true' 
              v-on:blur='hasFocus = false; validate()'
              />

        <div v-if='errors' class='error'> {{errorMessage}} </div>

    </div>

    <!-- select / dropdown -->
    <div v-else class='form-input form-input-dropdown' :class='{ error: errors }'>
     
      <label :class='{ "float-label": inputValue }'> {{fieldObject.name}} </label>
     
      <input  type='text' 
              v-on:focus='openDropdown = !openDropdown' 
              v-on:click='openDropdown = !openDropdown'
              v-model='inputValue'
              />
      
      <ul v-if='openDropdown' class='drop-down-list'>
        <li v-for='event in listOfEvents' 
            v-on:click='inputValue = event.name; 
                        openDropdown = !openDropdown;
                        $emit("setUserLogInObject", {name:fieldName,value:event.id})' 
            :key='event.id'>{{event.name}}
        </li>
      </ul>                
    
    </div>
  </div>
</template>

<script>

export default {
  name: 'input',
  props: ['fieldObject', 'listOfEvents'],
  data () {
    return {
      fieldName: this.fieldObject.name,
      openDropdown: false,
      inputValue: null,
      errors: false,
      viewPassword: false,
      hasFocus: false,
      errorMessage: null
    }
  },
  methods: {
    validate () {
      let data = {
        name: this.fieldName,
        value: this.inputValue
      }

      for (let i = 0; i < this.fieldObject.validation.length; i++) {
        if (this.fieldObject.validation[i].rule) {
          let myRe = new RegExp(this.fieldObject.validation[i].rule)
          let matches = myRe.exec(this.inputValue)
          if (matches) {
            this.errors = false
            this.$emit('setUserLogInObject', data)
          } else {
            this.errors = true
            this.errorMessage = this.fieldObject.validation[i].message
            this.$emit('dropUserLogInObject', data)
          }
        } else {
          this.$emit('setUserLogInObject', data)
        }
      }

      if (this.fieldObject.validation.length === 0) {
        this.$emit('setUserLogInObject', data)
      }
    }
  }
}
</script>

<style scoped lang='less'>

.form-input{
  
  font-size: .95em;
  position: relative;
  margin: 1.5em 0 1em;

  .error-icon{
    fill: #af1111;
    position: absolute;
    right: 0;
    bottom: 1.5em;
    width: 1.1em; 
  }
  .eye-icon{
    fill: lightgrey;
    position: absolute;
    right: 0;
    bottom: 1.5em;
    width: 1.1em;
    cursor: pointer;
    z-index: 1;
    &:hover{
      fill:grey;
    }
  }

  li{
    margin: 1em 0;
    padding: 1em 0;
  }
  input, select{
    border: 0px;
    border-bottom: 1px solid #e3e3e3;
    width: 100%;
    margin: .5em 0;
    padding: .5em 0;
    padding: 8px 0;
    position: relative;
    z-index: 0;
    background-color: transparent; 
    transition: all .3s;
    box-shadow: 0px 0px 0px #1395FB;
    border-radius: 0;

    &.error{
      border-bottom: 1px solid #af1111;
      
      &:focus{
        box-shadow: 0px 1px 0px #af1111;
      }      
    }

    &::placeholder{
      // color: lightgrey;
    }

    &:focus{
      outline: none;
      box-shadow: 0px 1px 0px #1395FB;
    }
    
    &.form-input-select{
      margin: 1em 0;
    }

  }

  &.form-input-dropdown{
    input{
      cursor: pointer;
    }
    
    &:after{
      content: '';
      width: 0px;
      height: 0px;
      z-index: 1;
      position: absolute;
      right: .1em;
      border-right: 14px solid lightgrey;
      border-bottom: 0px solid lightgrey;
      border-top: 14px solid transparent;
      bottom: 21px;
    }
  }

  input[type='text'] {
    text-transform: capitalize;
  }

  &.form-input{
    label{
      position: absolute;
      bottom: .5em;
      z-index: 0;
      font-size: 1em;
      color: grey;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      transition: all .15s ease-out; 
      text-transform: capitalize;

      &.float-label, &.has-focus{
        bottom: 2.75em;
        font-size: .75em;
        color: #B8B8BA;
      }
    }
    &.form-input-dropdown{
      label{
        transition: all 0s;
      }
    }
  }
  
  ul.drop-down-list{
    transition: all .25s;
    background-color: white;
    position: absolute;
    top: 0;
    width: 108%;
    left: -5%;
    z-index: 2;
    box-shadow: 0 2px 5px rgba(0,0,0,.4);
    max-height: 200px;
    height: 200px;
    overflow-y: scroll;
    padding-left: 0em;
    top: -6em;
    opacity: 1;

    &.hidden{
      top: 0em;
      height: 0px;
      width: 108%; 
      opacity: 0;
    }

    li{
      list-style: none;
      padding: 8px 0 8px 1em;
      cursor: pointer;
      &:hover{
        background-color: lightgrey;
      }
    }
  }

  div.error{
    position: absolute;
    font-size: .75em;
    bottom: -.85em;
    color: #af1111;
    text-transform: capitalize;
  }
}
</style>
