<template>
  <div>
    
    <aside v-if='isSignUpView' id='isSignUpView' class='login-widget-view'>      
      <div class='card'>  
        <div class='card-header'>
          <span>Sign up today</span>
        </div>
        <div class='card-body'>
          <form>
            <app-inputs v-for='field in fieldsForSignUp' 
                        :listOfEvents='listOfEvents' 
                        :fieldObject='field' 
                        :key='field.id'
                        @setUserLogInObject='setUserLogInObject($event)'
                        @dropUserLogInObject='dropUserLogInObject($event)'>          
            </app-inputs>
            <button class='btn btn-info' v-on:click.stop.prevent="signUp">Submit</button>
            <button class='btn btn-link' data-view='login' v-on:click.stop.prevent='isSignUpView = !isSignUpView'>Log in</button>
          </form>        
        </div>
      </div>
    </aside>

    <aside v-else id='login' class='login-widget-view'>
      <div class='card'>  
        <div class='card-header'>
          <span>Log in</span>
        </div>
        <div class='card-body'>
          <form>
            <app-inputs v-for='field in fieldsForLogin' 
                        :listOfEvents='listOfEvents' 
                        :fieldObject='field' 
                        :key='field.id'>          
            </app-inputs>
            <button class='btn btn-info' 
                    v-on:click.stop.prevent="logIn">
                    Log in
            </button>
            <button class='btn btn-link' 
                    data-view='isSignUpView' 
                    v-on:click.stop.prevent='isSignUpView = !isSignUpView'>
                    Sign up
            </button>
          </form>
        </div>
      </div>
    </aside>

  </div>
</template>

<script>
import Inputs from '@/components/Input'
export default {
  friendlyName: 'loginWidget',

  data () {
    return {
      isSignUpView: true,
      listOfEvents: [],
      fieldsForSignUp: this.getSignUpFields(),
      fieldsForLogin: this.getLoginFields(),
      signUpValidated: false,
      userSignUpObject: {},
      userLogInObject: {}
    }
  },

  mounted () {
    this.getEvents()
    this.userSignUpObject = this.buildObject(this.fieldsForSignUp)
    this.userLogInObject = this.buildObject(this.fieldsForLogin)
  },

  methods: {

    getEvents () {
      this.$http.get('https://airfinity-front-end-test.herokuapp.com/api/events').then((response) => {
        this.listOfEvents = response.data.data
      })
    },

    buildObject (template) {
      let object = {}
      for (let i = 0; i < template.length; i++) {
        object[template[i].name] = null
      }
      return object
    },

    signUp () {
      if (this.signUpValidated) {
        this.$http.post('https://airfinity-front-end-test.herokuapp.com/api/auth/signup', this.userSignUpObject).then((response) => {
          if (response.data.code === 0) {
            window.location.href = response.data.data.redirectUrl
          } else {
            alert('user error. got to be. what did you do?')
          }
        })
      }
    },

    logIn () {
      let userLogInObject = {}
      userLogInObject.username = document.getElementById('username').value
      userLogInObject.password = document.getElementById('password').value

      if (userLogInObject.password !== '' && userLogInObject.username.length !== '') {
        this.$http.post('https://airfinity-front-end-test.herokuapp.com/api/auth/login', userLogInObject).then((response) => {
          if (response.data.code === 0) {
            window.location.href = response.data.data.redirectUrl
          } else {
            alert('user error. got to be. what did you do?')
          }
        })
      }
    },

    dropUserLogInObject (data) {
      // needs updating to use the same method as setUserLogInObject 
      for (let fieldCount = 0; fieldCount < this.fieldsForSignUp.length; fieldCount++) {
        if (this.fieldsForSignUp[fieldCount].friendlyName === data.friendlyName) {
          this.fieldsForSignUp[fieldCount].value = null
        }
      }
      this.validateUserLogInObject()
    },

    setUserLogInObject (data) {
      this.userSignUpObject[data.name] = data.value
      this.validateUserLogInObject()
    },
    // not really validation - more of a check to see if all values are present
    validateUserLogInObject () {
      let verified = []
      let total = 0
      for (let key in this.userSignUpObject) {
        total++
        if (this.userSignUpObject[key] !== null) {
          verified.push(key)
        }
      }
      this.signUpValidated = verified.length === total
    },

    getSignUpFields () {
      let signUpFields = []

      signUpFields[0] = {
        id: 0,
        name: 'firstname',
        friendlyName: 'First name',
        type: 'text',
        fieldGroup: 'signup',
        value: null,
        validation: []
      }

      signUpFields[1] = {
        id: 1,
        name: 'lastname',
        friendlyName: 'Last name',
        type: 'text',
        fieldGroup: 'signup',
        value: null,
        validation: []
      }

      signUpFields[2] = {
        id: 2,
        name: 'eventId',
        friendlyName: 'event',
        type: 'dropdown',
        fieldGroup: 'signup',
        value: null,
        validation: []
      }

      signUpFields[3] = {
        id: 3,
        name: 'username',
        friendlyName: 'email',
        type: 'email',
        fieldGroup: 'signup',
        value: null,
        validation: [
          {
            rule: '[@]{1,}',
            message: 'must include @ symbol'
          }
        ]
      }

      signUpFields[4] = {
        id: 4,
        name: 'password',
        friendlyName: 'password',
        type: 'password',
        fieldGroup: 'signup',
        value: null,
        validation: [
          {
            rule: '[a-zA-Z0-9]{5,}',
            message: 'must contain 5 or more characters'
          }
        ]
      }

      return signUpFields
    },

    getLoginFields () {
      let logInFields = []

      logInFields[0] = {
        id: 'username',
        name: 'username',
        friendlyName: 'email',
        type: 'email',
        value: null,
        validation: []
      }

      logInFields[1] = {
        id: 'password',
        name: 'password',
        friendlyName: 'password',
        type: 'password',
        value: null,
        validation: []
      }

      return logInFields
    }

  },

  components: {
    'app-inputs': Inputs
  }

}
</script>

<style scoped lang='less'>
  @import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');
  *{
    font-family: 'Roboto', sans-serif;
    text-align: left;
  }
  .card {
    border-radius: 0;

    .card-header{
      border-radius: 0;
      background-color: #577784;
      color: white;
      font-weight: bold;
      padding-top: 1em;
      padding-bottom: 1em;
      span{
        font-size: 1.2em;
      }
    }
    .card-body{
      // padding-top: .75em;
      padding-bottom: 2.15em;
    }
    .card-header, .card-body{
      padding-left: 2.15em;
      padding-right: 2.15em;
    }
  }

  form{
    button{
      cursor: pointer;
      &:focus{
        outline: none;
        box-shadow: none;
      }
      &.btn{
        text-align: left;
        font-size: .9em;
        padding: .8em 2em;
        margin-top: 1em;
      }
    }
  }

  #modal-background{
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,.005);
  }

  @media screen and (max-width: 991px){ //768
    .logo-container{
      display: none;
    }
  }
</style>
