<template>
  <div class="container-fluid">
    <div class="row">
      
      <div class="col-lg-8">
        <div class="logo-container">
          <img src="../assets/logo.png">
        </div>
      </div>
      <div class="col-lg-4">
        <app-loginwidget></app-loginwidget>
      </div>

    </div>
  </div>
</template>

<script>
import LoginWidget from '@/components/LoginWidget'
export default {
  name: 'index',
  data () {
    return {
      url: './assets/logo.png'
    }
  },
  components: {
    'app-loginwidget': LoginWidget
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
img{
  background-color: #398CFF;
  max-width: 300px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto auto;
  padding: 3em;
  transition: all 1s;
}
.logo-container{
  min-height: 80vh;
}
@media screen and (max-width: 991px){/*768*/
  .logo-container{
    display: none;
  }
}
</style>
